body{
  margin:0;
  background:black;
  color:white;
  font-family:Arial;
}

.logo{
  text-align:center;
  margin:30px 0;
  color:cyan;
}

.gallery{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:20px;
  padding:20px;
}

.gallery img{
  width:100%;
  border-radius:12px;
}
