body{
  margin:0;
  background:black;
  color:white;
  font-family:Arial;
}

.logo{
  text-align:center;
  margin:30px 0;
  color:cyan;
}

.gallery{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:20px;
  padding:20px;
}

.gallery img{
  width:100%;
  border-radius:12px;
}
.gallery img{
  transition:0.4s;
  box-shadow:0 0 20px rgba(0,255,255,0.4);
}

.gallery img:hover{
  transform:scale(1.05);
  box-shadow:0 0 50px cyan;
}
#modal{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,0.9);
  display:none;
  align-items:center;
  justify-content:center;
  z-index:999;
}

#modal img{
  max-width:90%;
  max-height:90%;
  box-shadow:0 0 40px cyan;
}
